DEBEZIUM_VERSION=2.7
EH_NAME=debezium
EH_CONNECTION_STRING=Endpoint=sb://debezium.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=RqEBQ\MjpKAlVy/f4l/Zt119euJiYNcWw/g+Oirw4Ntc=